[program:ZIYRAK_API]
command=/home/aziz_user/ziyrak/ziyrak_api
directory=/home/aziz_user/ziyrak
user=aziz_user
autorestart=true
redirect_stderr=true
stdout_logfile=/home/aziz_user/ziyrak/log/ziyrak_api.log

[program:ZIYRAK_SURREALDB]
command=/usr/local/bin/surreal start --log trace --user root --pass root --bind 0.0.0.0:7000 file:///home/aziz_user/ziyrak/ziyrak_surrealdb && /usr/local/bin/surreal import --conn http://localhost:7000 --user=r=root --pass=root --ns=ziyrak_surrealdb --db=ziyrak_surrealdb ./up.surql
directory=/home/aziz_user/ziyrak
user=aziz_user
autorestart=true
redirect_stderr=true
stdout_logfile=/home/aziz_user/ziyrak/log/ziyrak_surrealdb.log

module.exports = {
  apps : [{
    name: 'ziyrak_surrealdb',
    script: '/usr/local/bin/surreal start --log trace --user root --pass root --bind 0.0.0.0:7000 file://ziyrak_surrealdb',
    args: 'one',
    merge_logs: true,
    autorestart: true,
    log_file: "./log/surrealdb.outerr.log",
    out_file: "./log/surrealdb.out.log",
    error_file: "./log/surrealdb.err.log",
    log_date_format : "YYYY-MM-DD HH:mm Z",
    append_env_to_name: true,
    watch: false,
    max_memory_restart: '1G',
  }],

};

module.exports = {
  apps : [{
    name: 'ziyrak_api',
    script: './ziyrak_api',
    args: 'one',
    merge_logs: true,
    autorestart: true,
    log_file: "./log/ziyrak_api.outerr.log",
    out_file: "./log/ziyrak_api.out.log",
    error_file: "./log/ziyrak_api.err.log",
    log_date_format : "YYYY-MM-DD HH:mm Z",
    append_env_to_name: true,
    watch: false,
    max_memory_restart: '1G',
  }],

};
server {
    server_name api-ziyrak.build-brain.uz www.api-ziyrak.build-brain.uz;
    access_log  /home/aziz_user/ziyrak/log/nginx.log;
    client_max_body_size 15M;

    location / {
        proxy_pass http://127.0.0.1:7001;
        proxy_set_header Host $server_name;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /media/ {
        add_header 'Access-Control-Allow-Origin' '*';
        root /home/aziz_user/ziyrak/;
        expires 30d;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/api-ziyrak.build-brain.uz/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/api-ziyrak.build-brain.uz/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot


}
server {
    if ($host = www.api-ziyrak.build-brain.uz) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = api-ziyrak.build-brain.uz) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    server_name api-ziyrak.build-brain.uz www.api-ziyrak.build-brain.uz;
    listen 80;
    return 404; # managed by Certbot
}