surreal import --conn http://127.0.0.1:7002 --user=surrealdb_username --pass=surrealdb_password --ns=surrealdb_namespace --db=surrealdb_database ./up.surql

[PM2]
ecosystem_basic_backend.config.js
module.exports = {
  apps : [{
    name: 'basic_backend',
    script: './basic_backend',
    merge_logs: true,
    autorestart: true,
    log_file: "./log/basic_backend.outerr.log",
    out_file: "./log/basic_backend.out.log",
    error_file: "./log/basic_backend.err.log",
    log_date_format : "YYYY-MM-DD HH:mm Z",
    append_env_to_name: true,
    watch: false,
    max_memory_restart: '1G',
  }],
};

[PM2]
ecosystem_basic_surrealdb.config.js
module.exports = {
  apps : [{
    name: 'basic_surrealdb',
    script: '/usr/local/bin/surreal start --log trace --user surrealdb_username --pass surrealdb_password --bind 127.0.0.1:7002 file://basic_surrealdb',
    args: 'one',
    merge_logs: true,
    autorestart: true,
    log_file: "./log/surrealdb.outerr.log",
    out_file: "./log/surrealdb.out.log",
    error_file: "./log/surrealdb.err.log",
    log_date_format : "YYYY-MM-DD HH:mm Z",
    append_env_to_name: true,
    watch: false,
    max_memory_restart: '1G',
  }],
};

[NGINX]
server {
    server_name basic-backend.build-brain.uz www.basic-backend.build-brain.uz;
    access_log  /home/aziz_user/_basic_backend/log/nginx.log;
    client_max_body_size 15M;

    location / {
        proxy_pass http://127.0.0.1:7003;
        proxy_set_header Host $server_name;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /media/ {
        add_header 'Access-Control-Allow-Origin' '*';
        root /home/aziz_user/_basic_backend/;
        expires 30d;
    }

    location /ws {
        proxy_pass http://127.0.0.1:7003/ws;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header Host $host;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/basic-backend.build-brain.uz/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/basic-backend.build-brain.uz/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}
server {
    if ($host = www.basic-backend.build-brain.uz) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    if ($host = basic-backend.build-brain.uz) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    server_name basic-backend.build-brain.uz www.basic-backend.build-brain.uz;
    listen 80;
    return 404; # managed by Certbot
}

[GITHUB_ACTIONS]
APP_NAME = basic_backend
MAIN_BRANCH = main
SSH_HOST = 37.143.8.63
SSH_USER = aziz_user
WORK_DIR = /home/aziz_user/_basic_backend
SSH_PRIVATE_KEY = -----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAACFwAAAAdzc2gtcn
NhAAAAAwEAAQAAAgEA2JcbD+tXOmarcHhoxor7E/v05QZhzSP23Bo+o4vcRoq8DiPbDKCB
ZFxyzCv/dRe6hO/HBAfiIK9qVOCknHCt2UCltSX9uxKq0DQPYzYzg78UvdxB3pSHf+1Zyv
OIGZyyt8h04jhXzAK+4N8anW4B5b98nK2TIT/MIQA4zXB3GtC1Y35HYOX9HRAz1/yoJ9wf
pRzMwlIGNFaSKf7jC7ZsxPYDVll+0RfqTANI+hbi8T006d02Qlp7GmLyoJOEVA2xZ9CtbD
/2AifMiLumrgXW8UZ8Re+x9+qYOiVBa6Wa5GLnstSdlLUUxNU+E8QFE3AJNeOLZwXuA5T5
whm/mqUu7RkP/rOugYV/i+KIYbO5daTyrtCh8WlIAbe/zkcA6ICf6InnJurBcpi/0JMb6m
y/Ywk4ZigxqhTFRjRsD7RG6E2BUgH1GKFYJRW56CBQbMZ6Ih191qyCbyedCbj+HqojNGDZ
cEJZzgopLIvWpgtdGgYZhk7MbT1OvCqMwXOqzDMu0OUQbEC6wAbCXjR2tlIWlnzSRyUXdS
cWv9afpXqAvC4ls/FmGgg2C4vYb01aO5mfcuPnryf5bqDP/FeNL0yKC7ny12W6JiJ/zTWO
Urk/Xw5YrjaDv8MtkLpgZEpPYjjO0s1+PENbI0z+n4nWWfj7VJ6HnvDaoADcMcnWgI+0IK
EAAAdQfwh3pn8Id6YAAAAHc3NoLXJzYQAAAgEA2JcbD+tXOmarcHhoxor7E/v05QZhzSP2
3Bo+o4vcRoq8DiPbDKCBZFxyzCv/dRe6hO/HBAfiIK9qVOCknHCt2UCltSX9uxKq0DQPYz
Yzg78UvdxB3pSHf+1ZyvOIGZyyt8h04jhXzAK+4N8anW4B5b98nK2TIT/MIQA4zXB3GtC1
Y35HYOX9HRAz1/yoJ9wfpRzMwlIGNFaSKf7jC7ZsxPYDVll+0RfqTANI+hbi8T006d02Ql
p7GmLyoJOEVA2xZ9CtbD/2AifMiLumrgXW8UZ8Re+x9+qYOiVBa6Wa5GLnstSdlLUUxNU+
E8QFE3AJNeOLZwXuA5T5whm/mqUu7RkP/rOugYV/i+KIYbO5daTyrtCh8WlIAbe/zkcA6I
Cf6InnJurBcpi/0JMb6my/Ywk4ZigxqhTFRjRsD7RG6E2BUgH1GKFYJRW56CBQbMZ6Ih19
1qyCbyedCbj+HqojNGDZcEJZzgopLIvWpgtdGgYZhk7MbT1OvCqMwXOqzDMu0OUQbEC6wA
bCXjR2tlIWlnzSRyUXdScWv9afpXqAvC4ls/FmGgg2C4vYb01aO5mfcuPnryf5bqDP/FeN
L0yKC7ny12W6JiJ/zTWOUrk/Xw5YrjaDv8MtkLpgZEpPYjjO0s1+PENbI0z+n4nWWfj7VJ
6HnvDaoADcMcnWgI+0IKEAAAADAQABAAACAFl0Q1GWXg75U4peuMtzoFJ3KASlV6Rt26m5
TzCl9aLO7u+aIID9E6PbSPCJpXb7h2YbUCOai+r6+Bw5MdOI+Ex31ljUaZCnm5PlRIux2a
HqvArUWwIuby5HXeQkJAyL+wZLzPaX1a8lXSesDaaCxlbY+QMO72r2mfzxRgSXlCGnnJsM
jzd2lc04oWjt6ZeY4xsDI5CIZxabwL+GjciLHi5U+zjhOq7qRTMC0lO0OyPupxmF60CJdT
mHL3Vhp/A9PY3GkrHYUuc9/8xjUGqkb8tz1KTf5C2kHx44v+XRXoFAVji2dqTyCzNmbT6l
oYEPL0aqBavVt6GUGHlxwACDg7bXLJCatxFOmiiMbVdZCHr26fjNlQEOxPB+4MwpcUU6id
wGVgo9Vqzf6qcbXdcNHNIgGicIz2W7rfe7PyoHEq/lMdfPne3RroeQDj/1Q9GCj0O7mgeO
Bmg8eqZOHY3tsAveqEgTaFM0d7p/2maOGEoTUmqJm+/HyeWdNYKgq1gOYiIFSUqgIaEX7L
1VtDmVs7Zz25ErvBYz1VY17BJ12mYHEVFdkkbt4Bvg/BlHntkBJfkUgrTOCo2YdSFi/a0m
R+MVwWI/VnHAhRQXs08FgqauivGUdudP3y7+Re/mQ9SPLyOqNE3Cg/SN6bD0FlkU+P0t0i
FXG2pQwp9C1EG+ZjKnAAABAFJ0KAeyS+vXBKl7IbTYXbDdYrZEZbcWJN0/0dYzDXk9nf0v
3BMm/WtYfG8ych6+LoSQ6+HSTMMokK1CJQUjpW8cTO0F1+o28GfqF2tArZUZDcYkEyDvao
m7KBRiZcPPNwx1F1L6AzwqlYtbDWIO4XGRlHYfZ3QAIKlRb4p2uHNLK/7RHfIFhPoJSs2G
DBXUDobRNSemSAlxEvITu0NwC19YWiFFZIy50iJ7OT2xjBE3OEut2BZQbbRlfNBWnYSBwD
nRZExmUGV9/TWdmUBIaLMjar1iao3UTJT+rnDaOhjvdwClI1KVX6ElnBIgdkt192uTrFef
J0NLqSPVp7k7wJYAAAEBAP2p8Eb1GDYDDymHEdMtRt9EiPTsLSfPQoC/vWSEL9V9qaaKzg
An4UoyfyLnNtwJbmn8QkjU+y5SFAWKeglfG6PfyUdfiQaGdH57sslujcojwbo77kLddOIr
2ldObR0+AqhISyTLzYxfM0rPZaWHUSrwcbW+Abxv86A8x36modt1RkIzWr9hJyrO2h5iUo
PUJ18kBFXGo0ICbOHEj0Yibo4uox3khCeoYmqzyZFmOxKPTQMxz6d7SARLKrnCoAICnmJ5
SboUspOZXdJSjDlob5zNXJU4HNepWG0D2YDQnb9ehv9qFNdBLS6rbLTJyl0SUnWGZCsTig
XGa9lZz8JF8mMAAAEBANqVwlCZicq1QaXxo0XWgdPCRHL4lb1RPTHov03KrkHZKhMF3AM7
zimUwaj7VLouC0/lLcLS28R3UNV9znzwN5zq2x3PELGYUiwigGHoVAEByZ8h7e9/MOtyeT
AjVYhkws/MeMcWXSuw2pwfV26xnvYobxXixedstC+euobDBb0bND6M/8loJo0fKokGYBbm
/7r23408cFjzoylEuiby9AMeJ9Vby/I4YbUta/kdol/275lymeiocyANMpO0MMxccn6v8z
s7vYTR1vBYaV/e1xtPqskEvhllgI0PiOhlgKW5HQmXq5evkczo3FLP0jZ6nENjpXRo1G1H
kYnpdH9xDisAAAAXcm9vdEBidWlsZC1icmFpbi5rdm12cHMBAgME
-----END OPENSSH PRIVATE KEY-----