[RUST]
[server]
address = "0.0.0.0:7001"
log = "debug"

[Surrealdb]
address = "0.0.0.0:7000"
NS = ziyrak_api
DB = ziyrak_api
USER = root
PASSWORD = root

[RUN]
surreal start --log trace --user root --pass root --bind 0.0.0.0:7000 file://ziyrak_surrealdb

surreal import --conn http://localhost:7000 --user=root --pass=root --ns=ziyrak_surrealdb --db=ziyrak_surrealdb ./up.surql

surreal import --conn http://localhost:7000 --user=root --pass=root --ns=ziyrak_surrealdb --db=ziyrak_surrealdb ./common/src/schemas/up.surql


[DELETE DB]
surreal import --conn http://localhost:7000 --user=root --pass=root --ns=ziyrak_api --db=ziyrak_api ./src/schemas/down.surql

[CODE]

208.67.222.222

https://api-ziyrak.build-brain.uz/swagger-ui/
https://api-ziyrak.build-brain.uz/repidoc/
https://api-ziyrak.build-brain.uz/redoc/
https://api-ziyrak.build-brain.uz/scalar/


VAPID:
openssl ecparam -genkey -name prime256v1 -out vapid_private_key.pem
openssl ec -in vapid_private_key.pem -pubout -outform DER|tail -c 65|base64|tr '/+' '_-'|tr -d '\n' > vapid_public_key.pem

RUST_LOG=actix_web=debug cargo run